# Node / Web dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Android build and Gradle files
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.aar
*.ap_

# IDEs and editors
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# OS files
.DS_Store
Thumbs.db
